.screen {
  position: relative;
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  border-radius: 15px;
  margin: 0 auto;
  width: 800px;
}

.wrapper-form {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.screen-header {
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.contact-me-title {
  text-align: center;
  padding-bottom: 40px;
}
.contact-me-title h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Poppins";
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #d1f4fd;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #d1f4fd;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  text-align: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.027);
  padding: 10px;
  font-family: "Poppins";
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer !important;
  color: #fff;
  border: none;
}

.app-form-group {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.app-form-button:hover {
  color: #d1f4fd;
}

@media screen and (max-width: 767px) {
  .screen-body {
    flex-direction: column;
  }
  .screen {
    width: 100%;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
    color: #d1f4fd;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
  .screen {
    width: 100%;
  }
}
